{% extends 'base.html.twig' %}
{% block title %}Test01{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stupidtable/1.1.3/stupidtable.min.js"></script>
    <table id="list">
    <thead>
        <th data-sort="string">Nom</th>
        <th data-sort="string">Date Création</th>
        <th data-sort="int">Quantité Émise</th>
        <th data-sort="int">Nombre de vote</th>
        <th data-sort="string">Details</th>
        <th data-sort="string">Editer</th>
        <th data-sort="string">Supprimer</th>
    </thead>
        {%  for cryp in liste%}
            <tr>
                <td>
                    {{ cryp.nom }}
                </td>
                <td>
                    {{ cryp.dateCreaToString }}
                </td>
                <td>
                    {{ cryp.qteEmise }}
                </td>
                <td>
                    {%  set taille = cryp.listeUsers | length %}
                    {{ taille }}
                </td>
                <td>
                    <a href="{{ path('crypto.details', {id : cryp.id}) }}"><span class="glyphicon glyphicon-star"></span></a>
                </td>
                <td>
                    <a href="{{ path('crypto.edit', {id : cryp.id}) }}">Editer</a>
                </td>
                <td>
                    <a href="{{ path('crypto.delete', {id : cryp.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
</table>
    <button class="bouton"><a href="{{ path('crypto.create') }}">Ajouter une crypto</a></button>
    <script>
        $(document).ready(function($) {
            $("#list").stupidtable();
        });
    </script>
{% endblock %}